<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Index</title>
    </head>
    <body>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js">
        </script>

        <h4>Create book</h4>
        <form id="bookCreatingForm">
            Title: <input name="title">
            ISBN: <input name="isbn">
            Author name: <input name="authorName">
            <button type="save">Add book</button>
        </form>

        <br/><br/><br/><br/>

        <h4>Search books by title and ISBN</h4>
            <form id="bookSearchingForm">
                Title: <input name="title">
                ISBN: <input name="isbn">
                Book author's name: <input name="authorName">
                <button type="find">Search</button>
            </form>

        <br/><br/><br/><br/>

        <h3>Add favorite book</h3>

        <form id="favoriteBooks">
            Book ISBN: <input name="isbn">
            <br/>
            <button id="addFavoriteBook">Add to list of favorite books</button>
            <button id="removeFromFavorites">Remove from list of favorite books</button>
        </form>

        <button id="getFavoriteBooks">Get list of favorite books</button>

        <br/><br/><br/><br/>

        <h4>All present books</h4>
        <button id="getAll">Show all books</button>
            <table border="1">
                <thead>
                    <th>Title</th>
                    <th>ISBN</th>
                    <th>Author</th>
                </thead>
                <tbody id="booksTable"></tbody>
            </table>


        <script>
            $(function(){
                $('#bookCreatingForm').submit(function (e)
                {
                    e.preventDefault();

                    var $bookList = $('#booksTable');
                    $bookList.empty();

                    $.ajax({
                        type: 'POST',
                        url: '/add_book',
                        dataType: 'json',
                        data: JSON.stringify
                        ({
                            title: $(this).find('[name=title]').val(),
                            isbn: $(this).find('[name=isbn]').val(),
                            authorName: $(this).find('[name=authorName]').val()
                        }),
                        beforeSend: function (xhr)
                        {
                            xhr.setRequestHeader('Content-Type', 'application/json'),
                            xhr.setRequestHeader('Authorization', localStorage.getItem("token"))
                        },
                        success: function (response)
                        {
                            response.forEach(function (book) {
                                $bookList.append(
                                '<tr><td>' + book.title +
                                '   </td><td>' + book.isbn +
                                '   </td><td>' + book.authorName +
                                '   </td></tr>');
                            })
                        }
                    });
                });

                $('#bookSearchingForm').submit(function (e)
                {
                    e.preventDefault();

                    var $bookList = $('#booksTable');
                    $bookList.empty();

                    $.ajax({
                        type: 'POST',
                        url: '/find',
                        dataType: 'json',
                        data: JSON.stringify
                        ({
                            isbn: $(this).find('[name=isbn]').val(),
                            title: $(this).find('[name=title]').val(),
                            authorName: $(this).find('[name=authorName]').val()
                        }),
                        beforeSend: function (xhr)
                        {
                            xhr.setRequestHeader('Content-Type', 'application/json'),
                            xhr.setRequestHeader('Authorization', localStorage.getItem("token"))
                        },
                        success: function (response)
                        {
                            response.forEach(function (book)
                            {
                                $bookList.append(
                                '<tr><td>' + book.title +
                                '   </td><td>' + book.isbn +
                                '   </td><td>' + book.authorName +
                                '   </td></tr>');
                            })
                        }
                    });
                });

                $('#getAll').click(function()
                {
                    var $bookList = $('#booksTable');

                    $.ajax({
                        url: '/show_books',
                        beforeSend: function (xhr)
                        {
                            xhr.setRequestHeader('Content-Type', 'application/json'),
                            xhr.setRequestHeader('Authorization', localStorage.getItem("token"))
                        },
                        success: function (response)
                        {
                            response.forEach(function(book)
                            {
                                $bookList.append(
                                '<tr><td>' + book.title +
                                '   </td><td>' + book.isbn +
                                '   </td><td>' + book.authorName +
                                '   </td></tr>');
                            })
                        }
                    });
                });

            $('#getFavorite').click(function(){
            var $bookList = $('#booksTable');
            $bookList.empty();
            $.ajax({
                type: 'GET',
                url: '/listOfFavBooks',
                dataType: 'json',

                beforeSend: function (xhr) {
                    xhr.setRequestHeader('Content-Type', 'application/json'),
                    xhr.setRequestHeader('Authorization', localStorage.getItem("token"))
                },
                success: function (response) {
                    response.forEach(function (book) {
                                $bookList.append(
                                '   <tr><td>' + book.title +
                                '   </td><td>' + book.isbn +
                                '   </td><td>' + book.authorName +
                                '   </td></tr>');
                    })
                }
            });
        });

        $('#addFavoriteBook').click(function(e){
            e.preventDefault();
            $.ajax({
                type: 'POST',
                url: '/addBookToFavList',
                dataType: 'json',
                data: JSON.stringify({
                    isbn: $('#favoriteBooks').find('[name=isbn]').val()
                }),
                beforeSend: function (xhr) {
                    xhr.setRequestHeader('Content-Type', 'application/json'),
                    xhr.setRequestHeader('Authorization', localStorage.getItem("token"))
                },
            });
        });

        $('#removeFromFavorites').click(function(e){
            e.preventDefault();

            $.ajax({
                type: 'POST',
                url: '/removeFromFavBook',
                dataType: 'json',
                data: JSON.stringify({
                    isbn: $('#favoriteForm').find('[name=isbn]').val()
                }),
                beforeSend: function (xhr) {
                    xhr.setRequestHeader('Content-Type', 'application/json'),
                    xhr.setRequestHeader('Authorization', localStorage.getItem("token"))
                },
            });
        });
    });
        </script>
    </body>
</html>